{% extends 'web/base.html' %}
{% block title %}Настройки – PassManager{% endblock %}

{% block content %}
<div class="card shadow-sm" style="min-width: 320px;">
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Сменить мастер-пароль</h5>

      {% if messages %}
        <div class="mb-3">
          {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label for="id_new_password1" class="form-label">Новый пароль</label>
          <input
            type="password"
            name="new_password1"
            id="id_new_password1"
            class="form-control"
            placeholder="Введите новый пароль"
            required
          >
        </div>

        <div class="mb-3">
          <label for="id_new_password2" class="form-label">Повтор пароля</label>
          <input
            type="password"
            name="new_password2"
            id="id_new_password2"
            class="form-control"
            placeholder="Повторите новый пароль"
            required
          >
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
